.column {
  float: left;
  width: 24%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  margin-top:9%;
  margin-left:12%;
  border-radius: 25px;
  background-color:rgb(22, 218, 224);
}

.column2 {
  float: left;
  width: 54%;
  padding: 10px;
  height: 80px; /* Should be removed. Only for demonstration */
  margin-top:9%;
  margin-left:15%;
  border-radius: 25px;
  background-color:rgb(22, 218, 224);
}

.column3 {
  float: left;
  width: 37%;
  padding: 10px;
  height: 80px; /* Should be removed. Only for demonstration */
  margin-top:2%;
  margin-left:4%;
  border-radius: 25px;
  background-color:rgb(22, 218, 224);
}

.column2:hover
{
-moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
}

.column:hover
{
-moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
}

.col {
  float: left;
  width: 32%;
  margin-left:18% ;
  padding: 10px;
  height: 80px; /* Should be removed. Only for demonstration */
  margin-top:5%;
}
.col1 {
  float: left;
  width: 32%;
  margin-left:1% ;
  padding: 10px;
  height: 80px; /* Should be removed. Only for demonstration */
  margin-top:5%;
}

.textarea {
  float: left;
  width: 60%;
  margin-left:18% ;
  margin-top:1%
  
}
.icon {
  float: left;
  margin-top:1%;
  margin-left:2% ;
}

.success {
  background: #05c7d0;
  width: 36%;
  margin-left:34%;
  margin-top: 11%;
  }