.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    width: 31%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
  }

  hr{
    margin-bottom: 5px;
  }